<UserScriptConfig>
	<Script basedir="platform" checkRemoteUpdates="1" dependhash="1823a10af53a280770ac3223336f09af1275c216" description="" enabled="true" filename="platform.user.js" installTime="1463319017000" modified="1464456666000" name="platform" namespace="manobastardo" noframes="false" runAt="document-start" updateMetaStatus="unknown" uuid="ef6d5845-dec3-4a9c-9bf7-64c394db6ec9" version="1" installurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/platform/platform.user.js" updateurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/platform/platform.user.js">
		<Grant>none</Grant>
		<Include>http://browserspy.dk*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="button_click" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="click on video button" enabled="true" filename="button_click.user.js" installTime="1459976559000" modified="1459976558000" name="button click" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="ok" uuid="b909c266-54a2-4aee-a15e-57c3dc7b4430" version="1.1" installurl="https://greasyfork.org/scripts/18400-button-click/code/button%20click.user.js" updateurl="https://greasyfork.org/scripts/18400-button-click/code/button%20click.user.js">
		<Grant>none</Grant>
		<Include>*filenuke.com*</Include>
		<Include>*sharesix.com*</Include>
		<Include>http://bestreams.net*</Include>
	</Script>
	<Script basedir="player_play" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="flvplayer play" enabled="false" filename="player_play.user.js" installTime="1459976638000" modified="1486275228000" name="player play" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="ok" uuid="2b11456c-7174-48db-b0f3-4bb85b3055f7" version="1" installurl="https://greasyfork.org/scripts/18554-player-play/code/player%20play.user.js" updateurl="https://greasyfork.org/scripts/18554-player-play/code/player%20play.user.js">
		<Grant>none</Grant>
		<Include>*vodlocker.com*</Include>
		<Include>http://vidzi.tv/*</Include>
		<Include>http://filenuke.com/*</Include>
		<Include>*streamin*</Include>
	</Script>
	<Script basedir="countdown_wait" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="video countdown wait|play click" enabled="true" filename="countdown_wait.user.js" installTime="1459976550000" modified="1486275155000" name="countdown wait" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="fail" uuid="f2b7e822-5455-4638-b46a-8b636098ad10" version="1.1" installurl="https://greasyfork.org/scripts/18405-countdown-wait/code/countdown%20wait.user.js" updateurl="https://greasyfork.org/scripts/18405-countdown-wait/code/countdown%20wait.user.js">
		<Grant>none</Grant>
		<Include>*vodlocker.com*</Include>
		<Include>*gorillavid*</Include>
		<Include>http://bestreams.net*</Include>
		<Include>*thevideo*</Include>
		<Include>*streamin*</Include>
		<Include>*vidbull*</Include>
		<Include>*daclips*</Include>
		<Include>*streamplay*</Include>
	</Script>
	<Script basedir="eldiario" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="eldiario remove user distinction" enabled="true" filename="eldiario.user.js" installTime="1459976700000" modified="1473607186000" name="eldiario" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="fail" uuid="2e05024d-0517-4c9e-b914-16668de8974e" version="1" installurl="https://greasyfork.org/scripts/18401-eldiario/code/eldiario.user.js" updateurl="https://greasyfork.org/scripts/18401-eldiario/code/eldiario.user.js">
		<Grant>none</Grant>
		<Include>http://www.eldiario.es*</Include>
	</Script>
	<Script basedir="reddit" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="reddit upvote post on hover|remove matching text from post|hide all posts on next page clicked" enabled="true" filename="reddit.user.js" installTime="1459445632000" modified="1460727050000" name="reddit" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="fail" uuid="58545e96-b820-4720-b297-10cb106f161b" version="1.0.2" installurl="https://greasyfork.org/scripts/18399-reddit/code/reddit.user.js" updateurl="https://greasyfork.org/scripts/18399-reddit/code/reddit.user.js">
		<Grant>none</Grant>
		<Include>https://www.reddit.com/*</Include>
	</Script>
	<Script basedir="google_gmail" checkRemoteUpdates="1" dependhash="acc535b968e5767dd8efeebe990f267a42400760" description="google gmail remove empty notification" enabled="true" filename="google_gmail.user.js" installTime="1459976792000" modified="1473489474000" name="google gmail" namespace="manobastardo" noframes="false" runAt="document-start" updateMetaStatus="fail" uuid="5c3f9cb6-7649-45b7-b93d-25557ccb2fea" version="1" installurl="https://greasyfork.org/scripts/18402-google-gmail/code/google%20gmail.user.js" updateurl="https://greasyfork.org/scripts/18402-google-gmail/code/google%20gmail.user.js">
		<Grant>none</Grant>
		<Include>https://mail.google.com/mail/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="bbc" checkRemoteUpdates="1" dependhash="acc535b968e5767dd8efeebe990f267a42400760" description="" enabled="false" filename="bbc.user.js" installTime="1459901352000" modified="1459901598000" name="bbc" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="193eb574-5160-4c93-9442-f5a91b1fc42e" version="1" installurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/bbc/bbc.user.js" updateurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/bbc/bbc.user.js">
		<Grant>none</Grant>
		<Include>http://www.bbc.com/</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="youtube" checkRemoteUpdates="1" dependhash="acc535b968e5767dd8efeebe990f267a42400760" description="" enabled="false" filename="youtube.user.js" installTime="1452386151000" modified="1471308230000" name="youtube" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="beec5b0b-8e5f-4fa4-90a5-786afdb49357" version="1" installurl="file:///home/lap-tos-deb-use/.mozilla/firefox/tb610i97.default/gm_scripts/youtube/youtube.user.js" updateurl="file:///home/lap-tos-deb-use/.mozilla/firefox/tb610i97.default/gm_scripts/youtube/youtube.user.js">
		<Grant>none</Grant>
		<Include>https://www.youtube.com/feed/subscriptions*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="elpais" checkRemoteUpdates="1" dependhash="acc535b968e5767dd8efeebe990f267a42400760" description="" enabled="false" filename="elpais.user.js" installTime="1459478121000" modified="1459478806000" name="elpais" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="3cae2581-c41f-41f9-9336-598357104dba" version="1" installurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/elpais/elpais.user.js" updateurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/elpais/elpais.user.js">
		<Grant>none</Grant>
		<Include>http://elpais.com/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="atresplayer" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="atresplayer.user.js" installTime="1459978929000" modified="1473856830000" name="atresplayer" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="3ad983fe-dc1f-495f-a4d3-e091176dcf0d" version="1" installurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/atresplayer/atresplayer.user.js" updateurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/atresplayer/atresplayer.user.js">
		<Grant>none</Grant>
		<Include>http://www.atresplayer.com/*</Include>
	</Script>
	<Script basedir="filter" checkRemoteUpdates="1" dependhash="acc535b968e5767dd8efeebe990f267a42400760" description="filter elements" enabled="false" filename="filter.user.js" installTime="1460039213000" modified="1471308230000" name="filter" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="ok" uuid="d63234d7-482a-4ea2-9713-92aba2c29e7e" version="1" installurl="https://greasyfork.org/scripts/18579-filter/code/filter.user.js" updateurl="https://greasyfork.org/scripts/18579-filter/code/filter.user.js">
		<Grant>GM_xmlhttpRequest</Grant>
		<Include>*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="twitter" checkRemoteUpdates="1" dependhash="acc535b968e5767dd8efeebe990f267a42400760" description="" enabled="false" filename="twitter.user.js" installTime="1460625756000" modified="1476591660000" name="twitter" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="62ad712a-3ddf-4a3d-bc29-cd035905e464" version="1" installurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/twitter/twitter.user.js" updateurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/twitter/twitter.user.js">
		<Grant>none</Grant>
		<Include>https://twitter.com/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="defcon" checkRemoteUpdates="1" dependhash="1823a10af53a280770ac3223336f09af1275c216" description="" enabled="true" filename="defcon.user.js" installTime="1461053688000" modified="1471308230000" name="defcon" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="e4c39b55-2e73-47b0-9065-b342f3a56f21" version="1" installurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/defcon/defcon.user.js" updateurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/defcon/defcon.user.js">
		<Grant>none</Grant>
		<Include>/https://media\.defcon\.org/def.*/</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="filter-0.1" checkRemoteUpdates="1" dependhash="c4d7cb8810dcdd720aa73d4f5c6932c018a545c3" description="" enabled="false" filename="filter-0.1.user.js" installTime="1461498206000" modified="1461544554000" name="filter-0.1" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="d2827943-883d-4ae4-9440-fd71b764f2d4" version="1" installurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/filter-0.1/filter-0.1.user.js" updateurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/filter-0.1/filter-0.1.user.js">
		<Grant>GM_xmlhttpRequest</Grant>
		<Include>//localhost(:[0-9]+|)/filter-0\.1/test\.(php|html)/</Include>
		<Include>https://www.reddit.com*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="youtube_team" checkRemoteUpdates="1" dependhash="45609d6082c88a485dd3d5e158d7d73a8e9a93e0" description="youtube subscriptions manager" enabled="true" filename="youtube_team.user.js" installTime="1463112118000" modified="1473321510000" name="youtube team" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="fail" uuid="f1b538dc-8cb3-4f34-b020-ebfaa2190ec0" version="0.0" installurl="https://github.com/cricobs/youtube_team/raw/hook/youtube_team.user.js" updateurl="https://github.com/cricobs/youtube_team/raw/hook/youtube_team.user.js">
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_xmlhttpRequest</Grant>
		<Grant>GM_addStyle</Grant>
		<Grant>GM_getResourceText</Grant>
		<Grant>GM_getResourceURL</Grant>
		<Include>https://www.youtube.com*</Include>
		<Require filename="jquery.min.js"/>
		<Require filename="base.js"/>
		<Require filename="pick.js"/>
		<Require filename="bank.js"/>
		<Require filename="bank_gmon.js"/>
		<Require filename="bank_sql3.js"/>
		<Require filename="data.js"/>
		<Require filename="data_auto.js"/>
		<Require filename="item.js"/>
		<Require filename="team_menu.js"/>
		<Require filename="team_list.js"/>
		<Require filename="team_root.js"/>
		<Require filename="team_edit.js"/>
		<Require filename="team.js"/>
		<Require filename="feed_menu.js"/>
		<Require filename="feed_knob.js"/>
		<Require filename="feed_list.js"/>
		<Require filename="feed_root.js"/>
		<Require filename="feed_team.js"/>
		<Require filename="feed.js"/>
		<Resource name="look.css" filename="look.css" mimetype="text/plain" charset="utf-8"/>
		<Resource name="here.html" filename="here.html" mimetype="text/plain" charset="utf-8"/>
		<Resource name="away.json" filename="away.json" mimetype="text/plain" charset="utf-8"/>
	</Script>
	<Script basedir="google_define" checkRemoteUpdates="1" dependhash="1823a10af53a280770ac3223336f09af1275c216" description="" enabled="true" filename="google_define.user.js" installTime="1468386172000" modified="1468719406000" name="google define" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="0f065767-7b70-481b-ad3c-395d0149bfc7" version="1" installurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/google_define/google_define.user.js" updateurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/0.0/gm_scripts/google_define/google_define.user.js">
		<Grant>none</Grant>
		<Include>https://www.google.com/search?*q=define*</Include>
		<Include>https://translate.google.com*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="php" checkRemoteUpdates="1" dependhash="e95c9678825ab70cc47ec7ea6b4713853baad85f" description="" enabled="true" filename="php.user.js" installTime="1469979499000" modified="1471308230000" name="php" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="9597ee8b-6056-4d93-8158-105320159a08" version="1" installurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/sync/gm_scripts/php/php.user.js" updateurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/sync/gm_scripts/php/php.user.js">
		<Grant>none</Grant>
		<Include>http://php.net/manual/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="archive" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="archive.user.js" installTime="1470058395000" modified="1470059204000" name="archive" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="d9efaeb8-8ea4-4a16-8128-f811d94b58de" version="1" installurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/sync/gm_scripts/archive/archive.user.js" updateurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/sync/gm_scripts/archive/archive.user.js">
		<Grant>none</Grant>
		<Include>https://archive.org/*</Include>
	</Script>
	<Script basedir="primewire" checkRemoteUpdates="1" dependhash="acc535b968e5767dd8efeebe990f267a42400760" description="primewire remove sponsored links|click unique search result|click preferred links" enabled="true" filename="primewire.user.js" installTime="1471301986000" modified="1486274711000" name="primewire" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="eb01832d-a691-426a-b224-bd9262451ff6" version="1" installurl="file:///mnt/5A3C465D2808F069/scripts/javascript/gmon/primewire.user.js" updateurl="file:///mnt/5A3C465D2808F069/scripts/javascript/gmon/primewire.user.js">
		<Grant>GM_setValue</Grant>
		<Grant>GM_getValue</Grant>
		<Include>http://www.primewire.ag/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="test1" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="test1.user.js" installTime="1471305636000" modified="1472190444000" name="test1" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="9cde45cb-af6f-432c-a3aa-66a6837b1872" version="1" installurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/sync/gm_scripts/test1/test1.user.js" updateurl="file:///mnt/5A3C465D2808F069/data/mozilla/firefox/sync/gm_scripts/test1/test1.user.js">
		<Grant>none</Grant>
		<Include>https://wiki.greasespot.net/FAQ</Include>
	</Script>
	<Script basedir="random" checkRemoteUpdates="1" dependhash="1823a10af53a280770ac3223336f09af1275c216" description="" enabled="false" filename="random.user.js" installTime="1472184121000" modified="1472824660000" name="random" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="1e89a9b9-ea0f-4d57-96c0-3371c1cbbfa7" version="1" installurl="file:///mnt/5A3C465D2808F069/scripts/javascript/gmon/random/random.user.js" updateurl="file:///mnt/5A3C465D2808F069/scripts/javascript/gmon/random/random.user.js">
		<Grant>GM_openInTab</Grant>
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Include>http://www.primewire.ag/watch-5163-Its-Always-Sunny-in-Philadelphia-online-free</Include>
		<Include>http://www.primewire.ag/watch-11149-Tosh0-online-free</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="torrentz2" checkRemoteUpdates="1" dependhash="acc535b968e5767dd8efeebe990f267a42400760" description="" enabled="true" filename="torrentz2.user.js" installTime="1472769100000" modified="1472770772000" name="torrentz2" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="e12d29c0-7430-44fe-9038-0d8cb17a84f9" version="1" installurl="file:///mnt/5A3C465D2808F069/scripts/javascript/gmon/torrentz2/torrentz2.user.js" updateurl="file:///mnt/5A3C465D2808F069/scripts/javascript/gmon/torrentz2/torrentz2.user.js">
		<Grant>none</Grant>
		<Include>/^https:\/\/torrentz2\.eu\/(?!search)/</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="wiki_fold" checkRemoteUpdates="1" dependhash="1d8721893a908474bc4d6b5df89b62305cc1f6e4" description="double click on header to show/hide all | single click on header to show/hide content | double click on content to show/hide reference&amp;link" enabled="true" filename="wiki.user.js" installTime="1473603155000" modified="1473685990000" name="wiki fold" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="bd7e5a0e-b893-4e86-be62-bdfce90a0129" version="1" installurl="file:///mnt/5A3C465D2808F069/scripts/javascript/gmon/wiki_fold/wiki.user.js" updateurl="file:///mnt/5A3C465D2808F069/scripts/javascript/gmon/wiki_fold/wiki.user.js">
		<Grant>GM_addStyle</Grant>
		<Grant>GM_getResourceText</Grant>
		<Include>*wikipedia.org*</Include>
		<Include>*wiktionary.org*</Include>
		<Include>*wikisource.org*</Include>
		<Include>*wikiversity.org*</Include>
		<Include>https://wiki.greasespot.net/*</Include>
		<Require filename="jquery.min.js"/>
		<Resource name="wiki.css" filename="wiki.css" mimetype="text/css"/>
	</Script>
	<Script basedir="thepiratebay" checkRemoteUpdates="1" dependhash="1823a10af53a280770ac3223336f09af1275c216" description="" enabled="false" filename="thepiratebay.user.js" installTime="1473923477000" modified="1473924952000" name="thepiratebay" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="9b6dac34-6a19-41b9-9877-ed3afda415fb" version="1" installurl="file:///mnt/5A3C465D2808F069/scripts/javascript/gmon/thepiratebay/thepiratebay.user.js" updateurl="file:///mnt/5A3C465D2808F069/scripts/javascript/gmon/thepiratebay/thepiratebay.user.js">
		<Grant>none</Grant>
		<Include>https://thepiratebay.org/torrent/*</Include>
		<Require filename="jquery.min.js"/>
	</Script>
	<Script basedir="youtube_reload" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="" enabled="true" filename="youtube_reload.user.js" installTime="1473949000000" modified="1482524681000" name="youtube reload" namespace="manobastardo" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="833656ed-33f0-44e3-84a7-f3d22731ab9a" version="1" installurl="file:///mnt/5A3C465D2808F069/scripts/javascript/gmon/youtube_reload/youtube_reload.user.js" updateurl="file:///mnt/5A3C465D2808F069/scripts/javascript/gmon/youtube_reload/youtube_reload.user.js">
		<Grant>none</Grant>
		<Include>https://www.youtube.com/watch?*</Include>
	</Script>
</UserScriptConfig>